body{
    background-color: rgb(220, 239, 239);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    /* background-color: #f2f2f2; */
}
.container{
    background-color: rgb(252, 255, 255);
    width: 500px;
    padding: 20px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}
.container h2{
font-size: 24px;
line-height: 24px;
padding: 30px;
text-align: center;
}
.input-name{
    width: 90%;
    position: relative;
    margin: 20px auto;
}
.user{
    padding: 8px 11px;
}
.name{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span{
    margin-left: 35px;
}


.text-name{
    width: 100%;
    padding: 8px 0 8px 40px;

}
.input-name i{
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;

}
.lock{
    padding: 8px 8px;
}
.text-name, .name{
    border: 1px solid #cccccc;
    outline: none;
}
.text-name:hover, .name:hover{
    background-color: #fafafa;
}
.radio-buttom{
    margin-right: 10px;
}
.country{
    display: inline block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    border: 1px solid #cccccc;
    color: #7b7b7b;
    outline: none;
}
.country:hover ,.country:focus{
    border-color: blue;
    outline: none;
}
.check{
    position: relative;
    margin-right: 15px;
}
.button{
    width: 100%;
    /* padding: 10px 20px; */
    text-align: center;
    background-color: blue;
    color: white;
    line-height:35px ;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}
.input-name{
    border-color: 1px solid #cccccc;
}